<a href="https://colab.research.google.com/github/samuelquinnild/Samuel-s-Repository/blob/main/NotesWeekMarch4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
grades = {
    'Alice': 91,
    'Bob': 88,
    'Tracy': 93,
    'Erik': 90
}

In [5]:
for key in grades.keys():
  print(key)

Alice
Bob
Tracy
Erik

In [6]:
for value in grades.values():
  print(value)

91
88
93
90

In [7]:
for key, value in grades.items():
  print(f'Key: {key}, Value: {value}')

Key: Alice, Value: 91
Key: Bob, Value: 88
Key: Tracy, Value: 93
Key: Erik, Value: 90

In [8]:
months = {1: "January", 2: "February", 3: "March"}

print(f'The first month in a year is {months[1]}')

The first month in a year is January

use dict_name[key] = value to create key values. The key would be the number from the list and the value would be the name of the month

In [10]:
months = {}

numbers = [1,2,3,4,5,6,7,8,9,10,11,12]
names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

for num in numbers:
  months[num + 1] = names[num - 1]
print(months)

1 is Jan
2 is Feb
3 is Mar
4 is Apr
5 is May
6 is Jun
7 is Jul
8 is Aug
9 is Sep
10 is Oct
11 is Nov
12 is Dec